<! DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <h1>Family Data</h1>
    {% if students%}
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Profession</th>
      </tr>
      </thead>
      <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.city }}</td>
        <td>{{ student.profession }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No student data available.</p>
    {% endif %}
  </body>
</html>